.red-box {
  background-color: red;
  font-size: 25px;
  color: yellow;
}

.green-box {
  background-color: green;
  font-size: 25px;
  color: blue;

}

.header {
  background-color: orange;
  colorl: black;
  font-size: 20px;
}
